#menuBar ul {
    top: 0;
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    border: solid 2px white;
}

#menuBar ul li {
    cursor: pointer;
    cursor: hand;
    float: left;
}

#menuBar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuBar ul li a:hover {
    background-color: gray;
}

body {
    background: black;
    font: 62.5% "Courier", sans-serif;
    color: white;
    margin: 50px;
}

.roomWidget {
    width: 430px;
    height: 100px;
}

.roomInput {
    width: 100%;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    font-size: large;
}

.roomTextArea {
    width: 100%;
    height: 90%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background: black;
    border: none;
    color: white;
    resize: none;
}